$black:         #000000;
$white:         #ffffff;
$whiteGray:     #fefefe;
$lightGray:     #f5f5f7;
$gray:          #dfe6e9;
$blueDark:      #2F80ED;
$blueLight:     #56CCF2;
$blueGray:      #f3f5fa;
$red:           #d63031;